.review-item {
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 22px;
    padding: 8px;
    display: flex;
}

.review-details {
    flex-grow: 1;
}

.review-item img {
    width: 91px;
    height: 91px;
    border-radius: 6px;
}

.review-item .product-title {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #1C2B35;
}

.review-details p {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    color: #1C2B35;
    margin: 4px 15px;
}

.orange-text {
    color: #FF9900;
}

/* Button-Delete */
.btn-delete {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: rgba(235, 87, 87, 0.3);
}